<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">
						
	<!-- 放权限  既是 这个页面不用登录也可以访问! -->					
	<http pattern="/*.html" security="none"></http>
	<http pattern="/css/**" security="none"></http>
	<http pattern="/img/**" security="none"></http>
	<http pattern="/js/**" security="none"></http>	
	<http pattern="/plugins/**" security="none"></http>				
	<!-- 页面的拦截规则   use-expressions:是否启用SPEL表达式,其默认是true-->
	<http use-expressions="false">
		<!-- 当前用户必须拥有ROLE-USER 角色才可以访问目录及所属子目录的所有资源
		     intercept-url:拦截的URL pattern:匹配路径    "/**":所有目录及其下的所有子目录路径 
		     access:用来配置角色名称 -->
		<intercept-url pattern="/**" access="ROLE_USER"/>
		<!--开启表单登录功能  -->
		<form-login login-page="/login.html" default-target-url="/admin/index.html" authentication-failure-url="/login.html" always-use-default-target="true"/>
		<csrf disabled="true"/>
		<headers>
			<frame-options policy="SAMEORIGIN"/>
		</headers>
		<logout/>
	</http>
	<!--认证管理器  -->
	<authentication-manager>
		<!-- 认证的提供者 -->
		<authentication-provider>
			<user-service>
				<!-- 用来配置当前系统的用户  authorities:属于哪一个角色-->
				<user name="bao" password="123" authorities="ROLE_USER"/>
			</user-service>
		</authentication-provider>
	</authentication-manager>
</beans:beans>